header{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    margin: 8px;
}   
header nav a{
    border: 3px solid black;
    padding: 8px;
    
}

/* For home page */

body{
    background-color: #decca9;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}
#selection-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#selection button{
    width: 10rem;
    height: 2rem;
    border-radius: 10px;
}
.selection-item button:hover {
    background-color: green;
    /* color: red; */
}

/* For Counter App */

#counter-app{
    display: flex;
    flex-direction: column;
    text-align: center;
}
#counter-app button{
    height: 5rem;
}

#number-variable{
    font-size: xx-large;
}

/* Digital clock section */

#digital-clock-section{
    display: flex;
    flex-direction: column;
    text-align: center;


}

/* To Do List section */
#to-do-list-section{
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: x-large;
}
#to-do-list-section ul{
    list-style: none;
    justify-content: space-between;
}

.done{
    color: red;
    text-decoration: line-through;
    opacity: 0.6;
    transition: 0.3;
}

/* Random Joke Generator section */

#random-joke-section{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    align-content: center;
    font-size: xx-large;
}

/* Rock Paper Scissor Section */
#rps-section{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    align-content: center;
    font-size: xx-large;
}

#rps-header{
    display: flex;
    
}
#button-container button{
    width: 20vw;
    height: 20ch;
}