/* font family similar to slime rancher 2 pronto mart */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;700&display=swap');

/* Color pallete attmpt::
    #000000
    #3E3636
    #D72323
    #F5EDED

*/

html {
  scroll-behavior: smooth;
  font-family: 'lexend', sans-serif;
  /* background-color: #B41E1E; */
  /* background-color: #1E44B4; */
  background-color: #000000;
  
}

h1,h2,h3,h4,h5,h6,p {
    color: #F5EDED;
}
ul li {
    color: #F5EDED;
}

header {
    color: #F5EDED;
    background-color: #000000;
    position: sticky;
    top: 0;
    width: 100%;
}
header a:visited {
    color: #F5EDED;
}
header a:hover {
    color: #D72323;
    background-color: #3E3636;
}
header ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    border: 1px solid #3E3636;
}
header ul li {
    float: left;
    border-right: 1px solid #3E3636;
}
header ul li a{
  display: block;
  padding: 14px 16px;
  text-decoration: none;
}


form{
    color: #F5EDED;
    padding: 25px;

}
#contact input[type="text"], #contact input[type="email"], #contact textarea {
    background-color: #F5EDED;
    display: block;
    width: 100%;
}

#projects{
    background-color: #3E3636;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 50%;
    height: auto;
    padding: 16px;
}
.projectcard{
    background-color: rgb(71, 90, 64);
    width: 50%;
    height: 90%;
    min-width: 300px;
    /* min-height: 90%;
    max-height: 90%; */
    /* min-height: 100%; */
    transition: width 2s;
    padding: 16px;
    position: relative;
}
.projectcard .showntext {
    max-width: 300px;
    min-width: 300px;
    opacity: 1;
}
.projectcard:hover .showntext {
    opacity: 0;
    transition: opacity 1s;
}
.projectcard:hover {
    width: 90%;
}
.projectcard:hover .hiddentext{
    display: block;
    opacity: 1;
    width: 60%;
    transition: display 2s;
    transition: opacity 2s;
}
.hiddentext{
    display: none;
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    transition: display 2s;
    transition: opacity 2s;

}


@media (max-width:600px)
{
    header ul{
        flex-direction: column;
    }

    #projects{
        grid-template-columns: 1fr;
    }

}
